

<div class="col-xl-3 col-sm-6 col-6 mb-2">
    <div class="card p-3  {% block bg-dash %} {% endblock bg-dash %}">

        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="align-self-center">
                    {% block bg-dash-sign %} 
    
                    {% endblock bg-dash-sign %} 
                </div>

                <div class="text-end">
                    <h3>{% block candidates-count %} {% endblock candidates-count %}</h3>
                    <p class="mb-0">{% block bg-text %}  {% endblock bg-text %} </p>
                </div>







               
            </div>
        </div>
    </div>
</div>