{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Login | HRM
{% endblock title %}

{% block nav-content %} 
<a href="" class="navbar-brand flex-grow-1 text-center text-light" style="left: 50%; transform: translateX(-50%); position:relative;">

        <i class="fas fa-key"></i> &nbsp;login 
</a>   
{% endblock nav-content %}






{% block content %}
    <div class='container card p-3 border-dark mt-5 w-50 login-page-width'>
            <!-- message from forms.py -->


        <div class='text-center'>

                {% if form.errors %}
                <div class="text-center alert alert-danger alert-dismissible fade show mt-2 mb-1 {{message.tags}}" role="alert" style="width:100%;" >
                    <strong class="text-dark m-auto alert-heading">
                        You need to have admin permission!
                    </strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
        </div>


        <a href="" class='btn btn-dark mb-4' style='cursor:default;'>
                <i class='fas fa-lock'>
                                &nbsp; Access
                </i>
        </a>
                    
        <form action="" method='POST' autocomplete="off" novalidate >
                    {% csrf_token %}
                        {{ form.username | as_crispy_field }}
                        {{ form.password | as_crispy_field }}
                <br>
                <hr>

            <div class='d-grid gap-2'>
                <button type='submit' class='btn btn-primary'>SignIn</button>
                <a href="{% url 'home' %}" class='btn btn-secondary'>Cancel</a>
            </div>

        </form>





    </div>

{% endblock content %}