{% extends 'base.html' %}


{% block title %}
    Candidtes Admin | HRM
{% endblock title %}

{% block nav-content %}
               
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse mt-3 mt-md-3 mt-lg-0" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-middle">
      <li class="nav-item text-light"> Welcome, <span class="text-light fw-bold ">{{ user.get_username | title}}</span>

      </ul>
        {% if request.user.is_superuser %}
        <a href="{% url "admin:App_candidate_changelist" %}" class='btn btn-light my-btn2' title='Candidates Admin' target="_blank">
            <i class="fas fa-user-cog f-size2"> </i>
        </a>
        
        <!-- admin button -->
        <a href="{% url "admin:App_email_changelist" %}" target="_blank" class='btn btn-warning ms-1 my-btn2' title='Email Admin'>
            <i class="fas fa-envelope f-size2"> </i>
        </a>
        {% else %}
        {% endif %}
        <!-- filters modal -->
        <span class="text-light">&nbsp;</span>
        <button class="btn my-btn2" style="background-color:#a8b8d0;" title="Filter"
        data-bs-toggle="modal" data-bs-target="#filterModal"
        >
            <i class="fas fa-filter"></i>
        </button>


        
      </li>
      
      
   
    

  <hr class='text-dark'>

<!--  search -->
<span class="text-light">&nbsp;</span>
<form class="d-flex">
    <input class="form-control me-1" name='q' type="search" placeholder="Search" aria-label="Search" value="{{ request.GET.q}}">
    <button class="btn btn-outline-light" title='search' type="submit">
        <i class='fas fa-search'></i>
    </button>
    <a href="{% url 'backend' %}" class="btn btn-outline-info ms-1" title='Refresh'>
        <i class='fas fa-sync-alt'></i>
    </a>
  </form>

  <span class="text-light">&nbsp;</span>
        <a class='btn btn-danger my-btn2' title='logout' data-bs-toggle="modal" data-bs-target="#filterLogout"
        >
            <i class="fas fa-power-off f-size2"> </i>
        </a>
</div>




{% endblock nav-content %}






{% block content %}
<div class="container" style="width:90%;">
    {% include 'partials/successMessages.html' %}

  <!-- filter modal -->

    <div class="mt-4 mb-3">
        {% include 'dashboard/dashboard.html' %}
    </div>




   <h5 class='card p-2 bg-secondary text-light text-center mt-3 mb-3'>Candidates</h5>

   <table class='table table-bordered text-center'>
    <thead class='table-secondary'>
        <tr>
            <th style="width:15%">Name </th>
            <th style="width:17%">Email </th>
            <th style="width:10%">Mobile </th>
            <th style="width:10%">Experience </th>
            <th style="width:12%">Job </th>
            <th style="width:12%"> Applied</th>
            <th colspan="2" style="width:25%">
                <i class="fas fa-tools"></i>
                &nbsp;Actions </th>
        </tr>
        
    </thead>

    <tbody>
        {% for candidate in candidates %}

        {% include 'modals/noteModal.html' %}
        {% include 'modals/deleteModal.html' %}
        {% include 'modals/emailModal.html' %}
        <tr>
            <td id="top-border" label="Name">{{ candidate.firstname}} {{candidate.lastname}}</td>
            <td id="sm-border" label="Email">{{ candidate.email }}  </td>
            <td id="sm-border" label="Mobile"> {{ candidate.mobile }} </td>
            <td id="sm-border" label="Experience"> 
                {%  if candidate.experience == 'Fresher' %}
                    <p>Fresher</p>
                {% else %} 
                    <p>Experience</p>
                    <p></p>
                {% endif %} 

            </td>


            <td id="sm-border" label="Job"> 
                {% if candidate.job == 'SDE-01' %} 
                 
                    <p>
                        Full Stack
                    </p>
                  {% elif candidate.job == 'BAC-01' %}
                  <p>
                    Backend
                   </p>
                {% else %}
                <p>
                    Frontend
                </p>
                {% endif %}
                
            
            </td >
            <td id="sm-border" label="Applied On">  
                {{ candidate.created_at |date:'M d Y' }}</td>
            
            <td class='btn-side' >
                <a href="{% url 'candidate' candidate.id %}" class="btn btn-secondary btn-sm  text-light " title="View">
                    <i class="fas fa-user-alt" style='font-size:20px;'></i>
                </a> 

                <a href="{% url 'chat_candidate' candidate.id %}" class="btn btn-info btn-sm my-btn2 ms-1 text-light" title="About candidate">
                    <i class="fas fa-comment-alt" style='font-size:20px;'></i>
                </a> 


                {% if request.user.is_superuser %}
                <a href="" class="btn btn-danger text-dark btn-sm my-btn2 res-btn " title="Delete" data-bs-toggle="modal" data-bs-target="#deleteModal{{ candidate.pk }}">
                    <i class="fas fa-trash-alt" style='font-size:20px;'></i>
                </a>
                
                {% else %}


                    {% if candidate.app_status != 'Approved' %}
                    
                    <button class="btn btn-outline-info  text-dark  btn-sm ms-1 my-btn2 res-btn" title="Admin Note" data-bs-toggle="modal" data-bs-target="#noteModal{{ candidate.pk }}">
                        <i class="fas fa-question" style='font-size:20px;'></i>
                    </button>
                    <button  class="btn btn-primary  text-light  btn-sm ms-1 my-btn2 res-btn" title="Admin Note" data-bs-toggle="modal" data-bs-target="#emailmodal{{candidate.pk}}">
                        <i class="fas fa-envelope" style='font-size:20px;'></i>
                    </button>
                    {% else %}

                    <button  class="btn btn-warning  text-dark  btn-sm ms-1 my-btn2 res-btn" title="Admin Note" data-bs-toggle="modal" data-bs-target="#noteModal{{ candidate.pk }}">
                        <i class="fas fa-question" style='font-size:20px;'></i>
                    </button>

                    <button  class="btn btn-primary  text-light  btn-sm ms-1 my-btn2 res-btn" title="Admin Note" data-bs-toggle="modal" data-bs-target="#emailmodal{{candidate.pk}}">
                        <i class="fas fa-envelope" style='font-size:20px;'></i>
                    </button>
                     {% endif %}
                    {% endif %}
            </td>

            {% empty %}
            <td colspan='8' class='text-denger'>
                
                <strong>No data avilable for {{ request.GET.q | title}}</strong>
            </td>
        </tr>
        {% endfor %}
    </tbody>


   </table>

   <nav >
    {% if candidates.has_other_pages %}
    <ul class="pagination">
        {% if candidates.has_previous %}  
            <a href="?page=1" class="btn btn-outlink-dark mb-4" style ="border-radius: 1px; border:1px solid #1b1b1b;">first</a>
            <li class="page-item">
                <a class="page-link" href="?page={{ candidates.previous_page_number }}">
                    <i class="fas fa-angle-double-left"></i>
                </a>
            </li>
        {% else %} 
            <li class="page-item disabled"></li>

        {% endif %}

        {% for i in candidates.paginator.page_range %} 

            {% if candidates.number == i %} 
                <li class="page-item active">
                    <span class="page-link">
                        {{ i }}
                        <span class="sr-only"></span>
                    </span>
                </li>
            {% else %}  
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %} 
        {% endfor %}

        {% if candidates.has_next %}  
            
            <li class="page-item">
                <a class="page-link" href="?page={{ candidates.next_page_number }}">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </li>
            <a href="?page={{ candidates.paginator.num_pages }}" class="btn btn-outlink-dark mb-4" style ="border-radius: 1px; border:1px solid #1b1b1b;">last</a>
        {% else %} 
        <li class="page-item disabled">
            
        </li>
        {% endif %}


    </ul>

    {% endif %} 
  </nav>




</div>
{% endblock content %}